In [1]:
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt, numpy as np

In [2]:
data = pd.read_csv('Inferential Statistics - Student Loan.csv')

In [30]:
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 5,Expected loss
0,1,11.50,20.00,0.0070,NaN,6440.00000
1,2,0.24,5.10,0.0033,NaN,75.16080
2,3,0.04,24.86,0.0022,NaN,6.61232
3,4,13.81,2.29,0.0066,NaN,8905.87566
4,5,19.84,3.47,0.0020,NaN,3830.31040

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  float64
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 468.9 KB

In [8]:
data['Recovery (%)'] = data['Recovery (%)'].apply(lambda x : x.strip('%'))

In [10]:
data['Recovery (%)'] = data['Recovery (%)'].astype('float64')

In [27]:
data['Expected loss'] = data['Exposure at Default (in lakh Rs.)'] * data['Probability of Default'] * (1 - (data['Recovery (%)']/100))

In [17]:
data.drop(columns=['Unnamed: 4','Unnamed: 4'], axis=1, inplace=True)

In [29]:
data['Expected loss'] = data['Expected loss'].apply(lambda x : float(x*100000))

In [31]:
data['Expected loss'].sum()

49339131.440620005